<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="ChapterTwo">
        <wb-resource deploy-path="/" source-path="/ejbModule" tag="defaultRootSource"/>
        <property name="java-output-path" value="/ChapterTwo/build/classes"/>
    </wb-module>
</project-modules>
